/*Colors */
/*Shadow*/
/*Breakpoints*/
@-webkit-keyframes entering {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes entering {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.lds-container {
  opacity: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -15;
  -webkit-animation: 3s spinner;
          animation: 3s spinner;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes spinner {
  0%, 80% {
    opacity: 1;
    z-index: 97;
  }
  82% {
    opacity: 0;
  }
}

@keyframes spinner {
  0%, 80% {
    opacity: 1;
    z-index: 97;
  }
  82% {
    opacity: 0;
  }
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 99;
  margin-left: 50%;
  margin-top: 10%;
}

@media (max-width: 640px) {
  .lds-default {
    margin-left: 40%;
  }
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: lds-default 1.2s linear infinite;
          animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@-webkit-keyframes lds-default {
  0%, 20%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

@media (max-width: 640px) {
  nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

nav .home-arrow {
  position: absolute;
  top: 2.2rem;
  left: 3rem;
}

.logo-header {
  height: 9rem;
}

@media (max-width: 640px) {
  .logo-header {
    width: 203px;
    height: 61px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .logo-header {
    height: 5rem;
  }
}

.location {
  font-size: 2rem;
}

.location p {
  display: inline-block;
}

.location i {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 640px) {
  .location {
    width: 100%;
    height: 51px;
    background-color: #eaeaea;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding-top: 1.3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 640px) {
  html {
    font-size: 57%;
  }
}

body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/*Presentation section*/
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  width: 80%;
  margin: 2rem auto 0 auto;
  background-color: #F6F6F6;
}

@media (max-width: 640px) {
  .presentation {
    width: 100%;
    margin: 0;
    padding: 3rem 1rem 4rem 1rem;
  }
}

.presentation h1, .presentation p, .presentation a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 640px) {
  .presentation h1, .presentation p, .presentation a {
    margin: 1rem;
  }
}

.presentation .presentation__link {
  color: white;
  width: 269px;
  height: 71px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  padding-top: 2.3rem;
}

@media (max-width: 640px) {
  .presentation .presentation__link {
    width: 257px;
    height: 50px;
    padding-top: 1.5rem;
    margin: 2rem 2rem;
  }
}

.presentation .presentation__link:hover {
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(to bottom right, #ff88de, #9b63df);
}

/*Stages section*/
.stages {
  width: 80%;
  margin: 3rem auto 2rem auto;
}

@media (max-width: 640px) {
  .stages {
    width: 100%;
    margin-bottom: 7rem;
  }
}

.stages h2 {
  width: 15%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: start;
}

@media (max-width: 640px) {
  .stages h2 {
    width: 90%;
    margin-top: 4rem;
  }
}

@media (max-width: 358px) {
  .stages h2 {
    width: 69%;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .stages h2 {
    width: auto;
    text-align: center;
  }
}

ol {
  width: 21%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  counter-reset: compteList;
}

@media (max-width: 640px) {
  ol {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  ol {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

ol li::before {
  text-align: center;
  color: white;
  border-radius: 50px;
  margin-right: 3rem;
  font-size: 1.5rem;
  background-color: #9356DC;
  counter-increment: compteList 1;
  content: counter(compteList) " ";
  position: absolute;
  left: -10px;
  line-height: 25px;
  width: 25px;
  height: 25px;
}

ol li {
  width: 322px;
  height: 70px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 2.2rem;
  padding-left: 3rem;
  position: relative;
  margin: 1rem;
}

@media (max-width: 358px) {
  ol li {
    width: 90%;
    padding-top: 2.6rem;
  }
}

@media (max-width: 640px) {
  ol li {
    padding-top: 2.6rem;
  }
}

ol li:hover {
  background-color: #F5EDFF;
}

ol li:hover i {
  color: #9356DC;
}

ol li i {
  color: #7e7e7e;
  margin-right: 2rem;
}

/*Restaurants section*/
.restaurants {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
  background-color: #F6F6F6;
}

@media (max-width: 640px) {
  .restaurants {
    padding-top: 6rem;
    padding-bottom: 5rem;
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .restaurants {
    width: auto;
    text-align: center;
  }
}

.restaurants h2 {
  display: block;
  width: 15%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: start;
}

@media (max-width: 640px) {
  .restaurants h2 {
    width: 90%;
  }
}

.container-resto {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 640px) {
  .container-resto {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .container-resto {
    width: auto;
  }
}

.card-resto {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 2rem;
  position: relative;
}

@media (max-width: 358px) {
  .card-resto {
    width: 98%;
  }
}

.card-resto .label-new {
  position: absolute;
  z-index: 1;
  font-size: 1.7rem;
  width: 80px;
  height: 30px;
  color: #008766;
  background-color: #99E2D0;
  padding: 0.5rem;
  top: 10px;
  left: 246px;
  border-radius: 2px;
  text-align: center;
}

@media (max-width: 358px) {
  .card-resto .label-new {
    left: 199px;
  }
}

.card-resto__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 338px;
  height: 173px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 358px) {
  .card-resto__img {
    width: 284px;
  }
}

.card-resto__text {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 2rem;
}

.card-resto__text h3 {
  font-size: 2rem;
  font-weight: bold;
}

.card-resto__text p {
  font-size: 2rem;
  font-weight: normal;
}

.card-buttom {
  width: 338px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 358px) {
  .card-buttom {
    width: auto;
  }
}

.card-buttom .like {
  font-size: 3.5rem;
  font-weight: 300;
  margin-right: 2rem;
  position: relative;
  z-index: 2;
}

.card-buttom .like .like-active {
  position: absolute;
  font-size: 3.6rem;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
  left: -0.1rem;
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.card-buttom .like .like-active:hover {
  opacity: 1;
}

.resto-menu {
  width: 80%;
  margin: auto;
}

@media (max-width: 640px) {
  .resto-menu {
    width: 100%;
    margin: 0;
  }
}

.resto-menu .resto-menu__img {
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 32vh;
  position: relative;
}

@media (max-width: 640px) {
  .resto-menu .resto-menu__img {
    margin: 0;
  }
}

.resto-menu .resto-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F6F6F6;
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  position: absolute;
  top: 42%;
  left: 0.2px;
  right: -0.2px;
  height: 87px;
}

@media (max-width: 640px) {
  .resto-menu .resto-menu__header {
    width: 100%;
    margin: 0;
    top: 33%;
  }
}

.resto-menu .resto-menu__header .resto-menu_name {
  font-family: 'Shrikhand', cursive;
  font-size: 6rem;
}

@media (max-width: 640px) {
  .resto-menu .resto-menu__header .resto-menu_name {
    font-size: 3rem;
    font-weight: 200;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .resto-menu .resto-menu__header .resto-menu_name {
    font-size: 3rem;
  }
}

.resto-menu .resto-menu__header .resto-menu__like {
  font-size: 5rem;
  position: relative;
}

@media (max-width: 640px) {
  .resto-menu .resto-menu__header .resto-menu__like {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .resto-menu .resto-menu__header .resto-menu__like {
    font-size: 3rem;
  }
}

.resto-menu .resto-menu__header .resto-menu__like--filled {
  position: absolute;
  font-size: 5.3rem;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: -0.25rem;
  left: -0.2rem;
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@media (max-width: 640px) {
  .resto-menu .resto-menu__header .resto-menu__like--filled {
    top: -0.18rem;
    left: -0.15rem;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .resto-menu .resto-menu__header .resto-menu__like--filled {
    font-size: 3.6rem;
  }
}

.resto-menu .resto-menu__header .resto-menu__like--filled:hover {
  opacity: 1;
}

.dishes {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 87.5%;
  margin: auto;
  background-color: #F6F6F6;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-bottom: 4rem;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
}

@media (max-width: 640px) {
  .dishes {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.dishes .dishes__type--uppercase {
  display: block;
  width: 43px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: #99E2D0;
  margin: 3rem auto 1rem 33%;
  padding-bottom: 1rem;
}

@media (max-width: 640px) {
  .dishes .dishes__type--uppercase {
    margin-left: calc(50% - 176px);
  }
}

@media (max-width: 358px) {
  .dishes .dishes__type--uppercase {
    margin-left: calc(50% - 145px);
  }
}

.dishes .name-container {
  overflow: hidden;
  cursor: pointer;
  border-radius: 13px;
  width: 400px;
  height: 70px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .dishes .name-container {
    width: 352px;
    height: 66px;
  }
}

@media (max-width: 358px) {
  .dishes .name-container {
    width: 290px;
  }
}

.dishes .name-container .check-container {
  width: 0px;
  padding: 2.3rem 2rem 2.3rem 2rem;
  height: 70px;
  opacity: 0;
  background-color: #99E2D0;
  color: white;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  -webkit-transition: width 130ms ease-in 250ms , opacity 80ms ease-in 300ms, padding 130ms ease-in 250ms;
  transition: width 130ms ease-in 250ms , opacity 80ms ease-in 300ms, padding 130ms ease-in 250ms;
}

.dishes .name-container .check-container i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.dishes .name-container .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes .name-container:hover .check-container {
  opacity: 1;
  width: 60px;
  -webkit-transition-delay: 230ms;
          transition-delay: 230ms;
}

.dishes .name-container:hover .check-container i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-delay: 230ms;
          transition-delay: 230ms;
}

.dishes .name-container:hover .choice-left {
  width: 270px;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

@media (max-width: 640px) {
  .dishes .name-container:hover .choice-left {
    width: 222px;
  }
}

@media (max-width: 358px) {
  .dishes .name-container:hover .choice-left {
    width: 160px;
  }
}

.dishes .name-container .choice-left {
  padding: 1rem 0 1rem 1rem;
  width: 330px;
  -webkit-transition: all 130ms ease-in 200ms;
  transition: all 130ms ease-in 200ms;
}

.dishes .name-container .choice-left h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dishes .name-container .choice-left p {
  font-size: 1.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 640px) {
  .dishes .name-container .choice-left {
    width: 282px;
  }
}

@media (max-width: 358px) {
  .dishes .name-container .choice-left {
    width: 220px;
  }
}

.dishes .name-container .choice-middle {
  padding: 0 0 1.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70px;
  font-size: 1.8rem;
}

.dishes .resto-menu__btn {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 2rem;
  border: none;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
}

.dishes .resto-menu__btn:hover {
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(to bottom right, #ff88de, #9b63df);
}

/*Animation of a dishes */
.dish__name:nth-child(2) {
  -webkit-animation: 1.1s ease-in-out 91.66667ms entering;
          animation: 1.1s ease-in-out 91.66667ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(3) {
  -webkit-animation: 1.1s ease-in-out 183.33333ms entering;
          animation: 1.1s ease-in-out 183.33333ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(4) {
  -webkit-animation: 1.1s ease-in-out 275ms entering;
          animation: 1.1s ease-in-out 275ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(5) {
  -webkit-animation: 1.1s ease-in-out 366.66667ms entering;
          animation: 1.1s ease-in-out 366.66667ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(6) {
  -webkit-animation: 1.1s ease-in-out 458.33333ms entering;
          animation: 1.1s ease-in-out 458.33333ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(7) {
  -webkit-animation: 1.1s ease-in-out 550ms entering;
          animation: 1.1s ease-in-out 550ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(8) {
  -webkit-animation: 1.1s ease-in-out 641.66667ms entering;
          animation: 1.1s ease-in-out 641.66667ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(9) {
  -webkit-animation: 1.1s ease-in-out 733.33333ms entering;
          animation: 1.1s ease-in-out 733.33333ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(10) {
  -webkit-animation: 1.1s ease-in-out 825ms entering;
          animation: 1.1s ease-in-out 825ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(11) {
  -webkit-animation: 1.1s ease-in-out 916.66667ms entering;
          animation: 1.1s ease-in-out 916.66667ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(12) {
  -webkit-animation: 1.1s ease-in-out 1008.33333ms entering;
          animation: 1.1s ease-in-out 1008.33333ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dish__name:nth-child(13) {
  -webkit-animation: 1.1s ease-in-out 1100ms entering;
          animation: 1.1s ease-in-out 1100ms entering;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.logo-footer {
  font-family: 'Shrikhand', cursive;
  color: white;
  margin-left: 2rem;
  font-size: 2.6rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  margin: auto;
  background-color: #353535;
}

@media (max-width: 640px) {
  footer {
    width: 100%;
    margin: 0;
  }
}

footer ul {
  margin-left: 2rem;
  margin-top: 1rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer a {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  margin-top: 3rem;
}

footer a strong {
  font-size: 1.7rem;
  font-weight: 400;
}

footer i {
  color: white;
  font-size: 1.7rem;
  margin-right: 1rem;
}

footer li:nth-child(2) i {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  margin-right: 0.4rem;
}
/*# sourceMappingURL=main.css.map */