/*Colors */
/*Shadow*/
nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.logo-header {
  height: 9rem;
}

.location {
  font-size: 2rem;
}

.location p {
  display: inline-block;
}

.location i {
  display: inline-block;
  margin-right: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/*Presentation section*/
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  width: 80%;
  margin: 2rem auto 0 auto;
  background-color: #F6F6F6;
}

.presentation h1, .presentation p, .presentation a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.presentation .presentation__link {
  color: white;
  width: 269px;
  height: 71px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  padding-top: 2.3rem;
}

.presentation .presentation__link:hover {
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(to bottom right, #ff88de, #9b63df);
}

/*Stages section*/
.stages {
  width: 80%;
  margin: 3rem auto 2rem auto;
}

.stages h2 {
  width: 15%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: start;
}

ol {
  width: 21%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  counter-reset: compteList;
}

ol li::before {
  text-align: center;
  color: white;
  border-radius: 50px;
  margin-right: 3rem;
  font-size: 1.5rem;
  background-color: #9356DC;
  counter-increment: compteList 1;
  content: counter(compteList) " ";
  position: absolute;
  left: -10px;
  line-height: 25px;
  width: 25px;
  height: 25px;
}

ol li {
  width: 322px;
  height: 70px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 2.2rem;
  padding-left: 3rem;
  position: relative;
  margin: 1rem;
}

ol li:hover {
  background-color: #F5EDFF;
}

ol li:hover i {
  color: #9356DC;
}

ol li i {
  color: #7e7e7e;
  margin-right: 2rem;
}

/*Restaurants section*/
.restaurants {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
  background-color: #F6F6F6;
}

.restaurants h2 {
  display: block;
  width: 15%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: start;
}

.container-resto {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-resto {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 2rem;
  position: relative;
}

.card-resto .label-new {
  position: absolute;
  z-index: 1;
  font-size: 1.7rem;
  width: 80px;
  height: 30px;
  color: #008766;
  background-color: #99E2D0;
  padding: 0.5rem;
  top: 10px;
  left: 246px;
  border-radius: 2px;
}

.card-resto__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 338px;
  height: 173px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-resto__text {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 2rem;
}

.card-resto__text h3 {
  font-size: 2rem;
  font-weight: bold;
}

.card-resto__text p {
  font-size: 2rem;
  font-weight: normal;
}

.card-buttom {
  width: 338px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-buttom .like {
  font-size: 3.5rem;
  font-weight: 300;
  margin-right: 2rem;
  position: relative;
  z-index: 2;
}

.card-buttom .like .like-active {
  position: absolute;
  font-size: 3.6rem;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
  left: -0.1rem;
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.card-buttom .like .like-active:hover {
  opacity: 1;
}

.resto-menu {
  width: 80%;
  margin: auto;
}

.resto-menu .resto-menu__img {
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 62vh;
  position: relative;
}

.resto-menu .resto-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F6F6F6;
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  position: absolute;
  top: 72%;
  left: 0.2px;
  right: -0.2px;
  height: 87px;
}

.resto-menu .resto-menu__header .resto-menu_name {
  font-family: 'Shrikhand', cursive;
  font-size: 6rem;
}

.resto-menu .resto-menu__header .resto-menu__like {
  font-size: 5rem;
  position: relative;
}

.resto-menu .resto-menu__header .resto-menu__like--filled {
  position: absolute;
  font-size: 5.3rem;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: -0.25rem;
  left: -0.2rem;
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.resto-menu .resto-menu__header .resto-menu__like--filled:hover {
  opacity: 1;
}

.dishes {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 87.5%;
  margin: auto;
  background-color: #F6F6F6;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-bottom: 4rem;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
}

.dishes .dishes__type--uppercase {
  display: block;
  width: auto;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: #99E2D0;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin: 3rem auto 1rem 33%;
  padding-bottom: 1rem;
}

.dishes .dish__name {
  padding: 1rem;
  border-radius: 13px;
  width: 400px;
  height: 70px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes .dish__name .name-container {
  width: 100%;
}

.dishes .dish__name .name-container h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.dishes .dish__name .name-container p {
  font-size: 1.9rem;
}

.dishes .dish__name .dish__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes .dish__name .check-container {
  opacity: 0;
}

.dishes .resto-menu__btn {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 2rem;
  border: none;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
}

.dishes .resto-menu__btn:hover {
  -webkit-box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15), 0 7px 15px -3px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(to bottom right, #ff88de, #9b63df);
}

.logo-footer {
  font-family: 'Shrikhand', cursive;
  color: white;
  margin-left: 2rem;
  font-size: 2.6rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  margin: auto;
  background-color: #353535;
}

footer ul {
  margin-left: 2rem;
  margin-top: 1rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer a {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  margin-top: 3rem;
}

footer a strong {
  font-size: 1.7rem;
  font-weight: 400;
}

footer i {
  color: white;
  font-size: 1.7rem;
  margin-right: 1rem;
}

footer li:nth-child(2) i {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  margin-right: 0.4rem;
}
/*# sourceMappingURL=main.css.map */