.resto-menu{
    @include section-width;

    .resto-menu__img {
        margin-top: 2rem;
        object-fit: cover;
        width: 100%;
        max-height: 32vh;
        position: relative;
    }
    .resto-menu__header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 40px;
    border-top-right-radius:40px;
    background-color:$grey-main;
    width: 70%;
    margin: auto;
    padding-top: 1rem;
    position: absolute;
    top: 42%;
    left: 0.2px;
    right: -0.2px;
    height: 87px;
        .resto-menu_name{
            font-family: 'Shrikhand', cursive;
            font-size: 6rem;
               }
        .resto-menu__like{
            font-size: 5rem;
            position: relative;
        }
        .resto-menu__like--filled {
                position: absolute;
                font-size: 5.3rem;
                background: -webkit-linear-gradient($primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
                top: -0.25rem;
                left: -0.2rem;
                z-index: 3;
                opacity: 0; 
                transition: opacity 250ms ease-in-out;
                transform-origin: bottom;
                    &:hover{
                    opacity: 1;
                    } 
            
        }
    }
}

.dishes{
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 87.5%;
    margin: auto;
    background-color: $grey-main;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius:40px;
    margin-bottom: 4rem;
    box-shadow: $box-shadow;
    .dishes__type--uppercase{
        display: block;
        width: auto;
        text-transform: uppercase;
        border-bottom-style: solid;
        border-color: $tertiary;
        margin-bottom: 1rem;
        margin-top: 3rem;
        margin: 3rem auto 1rem 33%;
        padding-bottom: 1rem;
   }
    .name-container{
        overflow: hidden;
        cursor: pointer;
        border-radius: 13px;
        width: 400px;
        height: 70px;
        box-shadow: $box-shadow;
        margin: 1rem;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .check-container{
            width: 0px;
            padding: 2.3rem 2rem 2.3rem 2rem;
            height: 70px;
            opacity: 0;
            background-color: $tertiary;
            color: white;
            border-bottom-right-radius:13px;
            border-top-right-radius: 13px;
            transition:width 250ms ease-in-out 350ms , opacity 250ms ease-in-out 500ms, padding 250ms ease-in-out 350ms;
             i {
                transform: rotate(-90deg);
                transition: all ease-in-out 500ms;
                transition-delay: 500ms;

             }

        }
        .left-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &:hover{          
                & .check-container{
                opacity: 1;
                width: 60px;
                transition-delay: 230ms;
            
                & i {
                transform: rotate(0deg);
                transition-delay: 230ms;
                }
            } 
              & .choice-left {
                width: 270px;                
                transition-delay: 250ms;
            }
        }
                .choice-left {
                    h3 {
                        font-size: 1.8rem;
                        margin-bottom: 0.2rem;
                    }
                    p{
                        font-size: 1.7rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        
                    }
                padding: 1rem 0 1rem 1rem;
                width: 330px;
                transition: all 200ms ease-in-out 400ms;
                }
                .choice-middle {
                    padding: 0 0 1.7rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;                    
                    width: 70px;
                    font-size: 1.8rem;
                }
    }
    .resto-menu__btn{
        margin-top: 3rem;
        margin-bottom: 4rem;
        padding: 2rem;
        border: none;
        text-decoration: none;
        @include btn(200px,60px);
        font-size: 1.8rem;
        &:hover{
            @include btn-hover;
        }
        
    }

}

/*Animation of a dishes */
$anim-dur:700ms;
$anim-delay:$anim-dur/11;
@for $i from 1 through 11 {
    .dish__name:nth-child(#{$i+1}){
        animation: 1s ease-in-out $i*$anim-delay entering;
    }
}