nav  {
    @include section-width;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    @media (max-width: $mobile) {
        width: 100%;
        flex-direction: column;
        padding:0;
    }
   
    .home-arrow {
        position: absolute;
        top: 2.2rem;
        left: 3rem;
    }
}
.logo-header {
    height: 9rem;
    @media (max-width: $mobile) {
        width: 203px;
        height: 61px;
    } 
    @media (min-width:$mobile) and (max-width:$desktop){
        height: 5rem;
    }
}
.location{
    font-size: 2rem;
    p{
        display: inline-block;
    }
    i{
        display: inline-block;
        margin-right: 1rem;
    }
    @media (max-width: $mobile){
        width: 100%;
        height: 51px;
        background-color: $grey-location;
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        padding-top: 1.3rem;

    }
    
}