nav  {
    @include section-width;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}
.logo-header {
    height: 9rem;
}
.location{

    font-size: 2rem;
    p{
        display: inline-block;
    }
    i{
        display: inline-block;
        margin-right: 1rem;
    }
}