/*Presentation section*/

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 80%;
    margin:2rem auto 0 auto ;
    background-color:$grey-main;
    @media (max-width: $mobile) {
        width: 100%;
        margin: 0;
        padding: 3rem 1rem 4rem 1rem;

    }
    h1,p,a {
        display: inline-flex;
        margin: 2rem;
        flex-direction: column;
        text-align: center;
        @media (max-width: $mobile){
            margin: 1rem;
        }
    }
    .presentation__link{ 
       @include btn(269px,71px);
       padding-top: 2.3rem;
       @media (max-width: $mobile){
           width: 257px;
           height: 50px;
           padding-top: 1.5rem;
           margin: 2rem 2rem;
       }
        &:hover{
           @include btn-hover;

        }
        
    }
}

/*Stages section*/
.stages{
    width: 80%;
    margin: 3rem auto 2rem auto;
    @media (max-width: $mobile){
        width: 100%;
        margin-bottom: 7rem;;
    }
}
.stages h2{
    width: 15%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: start;
    @media (max-width: $mobile){
        width: 90%;
        margin-top: 4rem;
    }
}
ol {
    width: 21%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    counter-reset: compteList;
    @media (max-width: $mobile){
        width: 100%;
        align-items: center;
    }
    li::before {
        text-align: center;
        color: white;
        border-radius: 50px;
        margin-right: 3rem;
        font-size: 1.5rem;
        background-color: $primary;
        counter-increment: compteList 1;
        content: counter(compteList) " ";
        position: absolute;
        left: -10px;
        line-height: 25px;
        width: 25px;
        height: 25px;
        }

    li{
        width: 322px;
        height: 70px;
        background-color: $grey-main;
        box-shadow: $box-shadow;
        border-radius: 20px;
        padding-top: 2.2rem;
        padding-left: 3rem;
        position: relative;
        margin: 1rem;
       
        &:hover {
            background-color: $touch-active;
            & i {
                color: $primary;
            }

        }
        i {
            color:$grey-icons;
            margin-right: 2rem;
            } 
    }    
}
/*Restaurants section*/

.restaurants{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include section-width;
    background-color: $grey-main;
    @media (max-width: $mobile){   
        padding-top: 6rem;
        padding-bottom: 5rem;
        margin: 0;
        width: 100%;
    }
    h2{
        display: block;
        width: 15%;
        margin: auto;
        margin-bottom: 2rem;
        text-align: start;
        @media (max-width: $mobile){
            width: 90%;
        }
        }
    }   
.container-resto{
   @include section-width;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
        @media (max-width: $mobile){
        width:100%;
        margin:0;
        }
    }
    
.card-resto{
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    width: auto;
    height:auto;
    margin: 2rem;
    position: relative;
    .label-new{
        position: absolute;
        z-index: 1;
        font-size: 1.7rem;
        width: 80px;
        height: 30px;
        color: #008766;
        background-color: #99E2D0;
        padding: 0.5rem;
        top: 10px;
        left: 246px;
        border-radius: 2px;
        }
    }
.card-resto__img{
    object-fit: cover;
    width: 338px;
    height:173px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
.card-resto__text{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 2rem;
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
    p{
        font-size:2rem;
        font-weight: normal;
        }
    }
.card-buttom{
    width: 338px;
    height:78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .like{
        font-size: 3.5rem;
        font-weight: 300;
        margin-right: 2rem;
        position: relative;
        z-index: 2;  

        .like-active{
            position: absolute;
            font-size: 3.6rem;
            background: -webkit-linear-gradient($primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
            top: 0;
            left: -0.1rem;
            z-index: 3;
            opacity: 0; 
            transition: opacity 250ms ease-in-out;
            transform-origin: bottom;
            &:hover{
                opacity: 1;
            }         
        }
    }
}