.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 80%;
    margin:2rem auto 0 auto ;
    background-color:$grey-main;
    h1,p,a {
        display: inline-flex;
        margin: 2rem;
        flex-direction: column;
        text-align: center;
    }
    a{ 
        color: white;
        width: 269px;
        height: 71px;
        background-image: linear-gradient(to bottom right,$secondary,$primary);
        border-radius: 50px;
        box-shadow:$box-shadow;
        padding-top: 2.3rem;
        
    }
}
